.CardInCardList h3 {
  /* It's at the top of the card already */
  margin-top: 0px;
}

.subtitle {
  font-size: 0.6em;
  color: var(--color-text-secondary);
  margin-top: 0px;
  font-style: italic;
}

label {
  font-weight: 600;
  margin-right: 4px;
}

a {
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

div h1:first-child,
div h2:first-child,
div h3:first-child {
  margin-top: 0px;
}

.collapsible-report > summary {
  width: 100%;
  background-color: var(--color-button-secondary);
  padding: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: left;
  font-size: 1.2em;
  margin-bottom: 1em;
}

.hoverableText,
.selector .hoverableText {
  background-color: transparent;
  color: var(--color-button-primary);
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0 0.25em;
  margin: 0 -0.25em;
}

.selector .secondaryHoverableText {
  color: var(--color-text-secondary);
}

.hoverableText:hover,
.selector .hoverableText:hover {
  color: var(--color-button-primary);
  background-color: color-mix(in srgb, var(--color-button-primary), var(--color-background) 90%);
}

tbody tr:hover {
  background-color: color-mix(in srgb, var(--color-button-primary), var(--color-background) 90%);
}
