.DetailsRow {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: stretch;
  margin-bottom: 1em;
}

.DetailsBox {
  flex: 1 1 200px;
}

.DetailsStatContainer {
  display: flex;
  gap: 2em;
  margin-top: auto;
  padding-bottom: 0.5em;
  justify-content: center;
}