.selector button,
.selector input,
.selector label {
  border: 0.125em solid var(--color-button-primary);
}

.selector input:focus {
  outline: none;
  color: var(--color-button-primary);
  background: var(--color-background);
}

.selector input {
  color: var(--color-button-primary);
  background: var(--color-background);
}

.selector button {
  color: var(--color-button-primary);
  background: var(--color-background);
}

.selector input.empty {
  color: var(--color-button-primary);
  background: var(--color-background);
}

.selector input::placeholder {
  color: var(--color-text-secondary);
  background: var(--color-background);
}

.selector input.empty:focus {
  color: var(--color-button-primary);
  background: var(--color-background);
  border-color: var(--color-button-hover);
}

.selector input.empty:focus::placeholder {
  color: var(--color-button-primary);
}

.selector button:hover {
  color: var(--color-background);
  background: var(--color-button-hover);
}

.selector :focus {
  border-color: var(--color-button-hover);
}

.selector .selected {
  background: var(--color-button-primary);
  color: var(--color-background);
}

.selector button:disabled,
.selector button:disabled:hover {
  color: var(--color-text-secondary);
  pointer-events: none;
}
