.NavTabs {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.25em;
}

.NavTabs.major {
  /* border-bottom: solid 2px var(--color-button-secondary); */
  border-bottom: solid 2px var(--color-button-primary);
  margin-bottom: 0.25em;
}

.NavTabs.minor {
  font-size: 0.75em;
  align-items: center;
}

.NavTabsLabel {
  padding: 0.5em 1em;
  border: none;
  font-weight: 300;
}

.Extended .NavTabsLabel {
  padding: 0em;
}

.NavTabs .Extended {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25em;
}

.TabHoverable {
  border-bottom: 2px solid var(--color-background);
  text-decoration: none;
}

.Tab {
  background: none;
  color: var(--color-text);
  font-weight: 500;
  border-color: transparent;
  padding: 0.5em;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.major .Tab {
  border: 2px solid transparent;
  border-radius: 0.5em 0.5em 0 0;
  margin-bottom: -2px;
}

.minor .Tab,
.Extended .Tab {
  display: block;
  border-radius: 0.5em;
  border: none;
}

.Tab:hover,
.Tab:focus {
  background: var(--color-background-hover);
}

.Tab:focus {
  border-color: var(--color-button-primary);
}

.active.TabHoverable {
  border-bottom-color: var(--color-background);
}

.active .Tab {
  color: var(--color-button-primary);
  border-color: var(--color-button-primary);
  border-bottom-color: var(--color-background);
}

.minor .active .Tab {
  background: var(--color-background-hover);
}