.selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.selector.buttonList {
  flex-direction: column;
  align-items: start;
}

.selector.buttonGroup {
  gap: -0.125em;
}

.selector button,
.selector .option,
.selector input,
.selector label {
  border-width: 0.125em;
  border-color: var(--color-button-primary);
  border-style: solid;
}

.selector input {
  color: var(--color-text-on-color);
  background: var(--color-button-primary);
}

.selector button,
.selector .option {
  color: var(--color-button-primary);
  background-color: var(--color-background);
}

.selector input.empty {
  color: var(--color-button-primary);
  background-color: var(--color-background);
}

.selector input::placeholder {
  color: var(--color-text-secondary);
  background-color: var(--color-background);
}

.selector button:hover,
.selector .option:hover {
  color: var(--color-text-on-color);
  background-color: var(--color-button-hover);
}

.selector :focus {
  border-color: var(--color-button-hover);
  background-color: var(--color-button-hover);
}

.selector .selected {
  color: var(--color-text-on-color);
  background-color: var(--color-button-primary);
}

.selector button:disabled,
.selector button:disabled:hover,
.selector .option:disabled,
.selector .option:disabled:hover {
  color: var(--color-text-secondary);
  pointer-events: none;
}

.selector .secondaryHoverableText {
  color: var(--color-text-secondary);
}
