.NavBar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0em;
  border-bottom: 0.125em solid var(--color-button-primary);
  width: 100%;
  row-gap: 0.5em;
  color: var(--color-background);
  background-color: var(--color-button-primary);
}

.NavBar h1 {
  font-size: 1.5em;
  white-space: nowrap;
  line-height: 1.5;
}

.NavBar h1 a {
  font-weight: lighter;
}

.NavBar .selector {
  font-size: 1.2em;
  line-height: 1.2em;
  align-content: center;
}

.NavBar .selector,
.NavBar h1 {
  margin: 0em 0.5em 0em 0.5em;
}

.FilterPanelHeader {
  font-size: 1.2em;
  font-weight: lighter;
  margin: 0.5em 0.5em 0.25em 0.5em;
  border-top: 0.125em solid var(--color-button-primary);
}
