.mapCentroidCircle {
  transition:
    fill 0.25s,
    stroke 0.25s,
    scale 0.25s;
  pointer-events: fill;
  cursor: pointer;
  stroke-width: 1px;
}

.mapCentroidCircle:hover,
.mapCentroidCircle.hovered {
  filter: brightness(1.2);
  scale: 1.5;
  stroke: var(--color-button-primary);
}

.mapCentroidCircle.pinned {
  stroke: var(--color-button-primary);
}

.mapTerritory {
  cursor: pointer;
}

.mapTerritory:hover,
.mapTerritory.hovered {
  filter: brightness(1.2);
  stroke: var(--color-button-primary);
  stroke-width: 2px;
}

.mapTerritory.pinned {
  stroke: var(--color-button-primary);
  filter: brightness(1.1);
  stroke-width: 2px;
}
